<div class="container intro-container">
  
  <script src="https://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  <style>
  .affix {
    top: 0;
    width: initial;
    z-index: 999 !important;
  }

  .affix + .header-contianer {
    padding-top: 100px;
  }
  </style>
  
  <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="200">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#Education...">Education</a></li>
        <li><a href="#Experiences...">Experiences</a></li>
        <li><a href="#Honors...">Honors & Awards</a></li>
      </ul>
  </nav>
  
  <h3>{{ site.about_title | default: "About Me" }}</h3>
  <div class="row clearfix">
    {%- if site.about_profile_image -%}
      <div class="col-xs-12 col-sm-4 col-md-3 no-print">
        <span class="profile-img" style="background-image: url({{ site.about_profile_image | relative_url }})"></span>
      </div>
    {%- endif -%}
    <div class="{{ 'col-xs-12 ' }}{%- if site.about_profile_image -%}col-sm-8 col-md-9 col-print-12{%- endif -%}">
      {{ site.about_content | strip | markdownify }}
    </div>
  </div>
</div>
